<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhweb.mapper.UserInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="UserInfoMap" type="com.zhweb.entity.UserInfo">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="salt" jdbcType="VARCHAR" property="salt"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
    </resultMap>

    <select id="findByUsername" parameterType="string" resultMap="UserInfoMap">
        SELECT * FROM userinfo
        WHERE user_name = #{userName}
    </select>
    <select id="getRoleList" parameterType="string" resultType="com.zhweb.entity.SysRole">
        SELECT * FROM sysrole t1 INNER JOIN sysuserrole t2 ON t1.id=t2.role_id WHERE t2.user_id=#{id}
    </select>
    <select id="getPermissionList" parameterType="string" resultType="com.zhweb.entity.SysPerssion">
        SELECT t2.* from sysrolepermission t1 INNER JOIN syspermission t2 ON t2.id=t1.permission_id
            INNER JOIN sysuserrole t3 on t1.role_id=t3.role_id where t3.user_id=#{id}
    </select>
</mapper>
