<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhweb.mapper.UserInfoMoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="UserInfoMap" type="com.zhweb.entity.UserInfoMore">
        <result column="user_id" jdbcType="VARCHAR" property="id"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="QQ" jdbcType="VARCHAR" property="qq"/>
    </resultMap>
<insert id="addUserInfo">
    INSERT INTO userinfo_more(user_id,sex,telephone,qq) VALUES(#{id}, #{sex},#{telephone},#{qq})
</insert>
<delete id="deleteUserInfoMore" parameterType="list">
    DELETE FROM userinfo_more WHERE user_id IN
    <if test="list!=null">
        <foreach collection="list" item="id" separator="," open="(" close=")">#{id}</foreach>
    </if>
</delete>
<delete id="delete">
     DELETE FROM userinfo_more WHERE user_id=#{id}
</delete>
<update id="updateUserMoreInfo" parameterType="com.zhweb.entity.UserInfoMore">
    UPDATE userinfo_more SET telephone=#{telephone},sex=#{sex},QQ=#{qq}
    where user_id=#{id}
</update>
</mapper>
